html,body{
    background-color: #7C868A;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

#card{
    margin: auto;
    min-width: 320px;
    background-color: #0C3C44;
    border-radius: 10px;
    box-shadow: 5px 10px 18px #092b31;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-style: double;
    border-color: gold;
}

h1{
    margin: 40px 0px 50px 0px;
    color: #4A4640;
    text-shadow: 0px 0px 9px rgb(240, 240, 240);
}

#card:hover{
    background-color: #062B32;
    border-color: #a5491b;
    translate: 2px -2px;
    box-shadow: -10px -5px 18px #092b31;
}

.stats{
    margin: 50px;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: #A07C52;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 20px;
}

#eivor{
    width: 100%;
    height: auto;
    max-width: 300px;
    margin: 0px 50px 0px 50px;
    border-radius: 90%;
    border-style: ridge;
}